<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>All Data</h1>



        <table>
          <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>QUANTITY</th>
          </tr>
              {% for line in data %}
          <tr>
              <td>{{line.0}}</td>
              <td>{{line.1}}</td>
              <td>{{line.2}}</td>
              <td>{{line.3}}</td>
          </tr>
          {% endfor %}
        </table>
    </main>
	<script src="index.js"></script>
  </body>
</html>
